/* Styles for spacing */
body {
	margin: 20px;
}

button {
	margin-bottom: 10px;
}

table {
	margin-bottom: 20px;
}

/* Specific styles for classes */
.duration {
	width: 130px;
}

.times {
	width: 80px;
}

.notes {
	width: 300px;
}

.flex-container {
	display: flex;
	flex-direction: row-reverse;
}

.button-container {
	margin-top: 20px;
	margin-right: 20px;
}