.container {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	font-family: Arial, sans-serif;
}

.construction {
    position: relative;
    top: -20px; /* Adjust this value to move the text up */
}

.construction h1 {
	font-size: 5em;
	font-family: sans-serif;
    line-height: 0.5; /* Adjust this value to bring the lines closer */
}

h2 {
	font-size: 2em;
	margin-bottom: 20px;
	font-family: sans-serif;
}

.progress-bar {
	width: 50%;
	background-color: #f3f3f3;
	border-radius: 13px;
	padding: 3px;
	margin: 20px auto;
	align-items: center;
}

.filler {
	height: 100%;
	width: 70%;
	background-color: #4caf50;
	border-radius: 10px;
	transition: width 2s;
}

.progress-bar span {
    position: absolute;
    width: 100%;
    text-align: center;
	color: white;
	font-weight: bold;
}

.game-button {
	display: flex;
	border-radius: 10px;
	height: 20px;
	width: 10%; /* Adjust this value to make the button smaller */
	margin: 20px auto; /* Center the button */
	padding: 10px 20px;
	background-color: #008CBA;
	color: white;
	border: none;
	cursor: pointer;
}

.social-links {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	background-color: #f3f3f3;
}

.social-links a {
	margin: 0 10px;
	text-decoration: none;
	color: #333;
}